<div class="jumbotron">
<h2>Strona startowa</h2>
<p>Położenie w katalogu: app/views/home/index.html.erb</p>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Kontakt', home_contact_path, class: 'btn btn-default' %>
<%= link_to 'Strona główna', root_path, class: 'btn btn-primary' %>
</div>